<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}gret_notes - personal noting app{% endblock %}</title>
</head>

<body>
    <h1>gret_notes</h1>
    <div id="sidebar">
        {% block sidebar %}
        <p>
            <a href="/">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'notes:index' %}">Notes</a>
                <a href="{% url 'tags:index' %}">Tags</a>
                <span>Logged in user: <strong>{{ user }}</strong></span>
                <a href="/auth/logout">Logout</a>
            {% else %}
                <a href="/auth/login">LogIn</a>
            {% endif %}
        </p>
        {% endblock %}
    </div>
    <hr>
    <div id="content">
        {% if messages %}
            <ul class="messages">
                {% for msg in messages %}
                <li>
                    <div class="alert alert-{{msg.level_tag}}" role="alert">
                    {{msg.message}}
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>